* text=auto !eol
cms/src/main/java/org/onehippo/forge/utilities/cms/content/BaseCndUpdater.java -text
cms/src/main/java/org/onehippo/forge/utilities/cms/content/BaseUpdater.java -text
cms/src/main/java/org/onehippo/forge/utilities/cms/gallery/GalleryProcessor.java -text
cms/src/main/java/org/onehippo/forge/utilities/cms/gallery/GalleryProcessorPlugin.java -text
commons/src/main/java/org/onehippo/forge/utilities/AnnotationUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/GenericsUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/PsUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/RepositoryUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/ftp/SimpleFtpClient.java -text
commons/src/main/java/org/onehippo/forge/utilities/ftp/SimpleFtpClientResult.java -text
commons/src/main/java/org/onehippo/forge/utilities/jcrmockup/ISO8601.java -text
commons/src/main/java/org/onehippo/forge/utilities/jcrmockup/ItemAnswer.java -text
commons/src/main/java/org/onehippo/forge/utilities/jcrmockup/JcrMockUp.java -text
commons/src/main/java/org/onehippo/forge/utilities/jcrmockup/MockNode.java -text
commons/src/main/java/org/onehippo/forge/utilities/jcrmockup/MockProperty.java -text
commons/src/main/java/org/onehippo/forge/utilities/jcrmockup/NodeIteratorAnswer.java -text
commons/src/main/java/org/onehippo/forge/utilities/jcrmockup/PropertyIteratorAnswer.java -text
commons/src/test/java/org/onehippo/forge/utilities/AnnotationUtilTest.java -text
commons/src/test/java/org/onehippo/forge/utilities/BaseRepositoryTest.java -text
commons/src/test/java/org/onehippo/forge/utilities/ftp/SimpleFtpClientTest.java -text
commons/src/test/java/org/onehippo/forge/utilities/jcrmockup/ISO8601Test.java -text
commons/src/test/java/org/onehippo/forge/utilities/jcrmockup/TestJcrMockup.java -text
commons/src/test/resources/content.xml -text
commons/src/test/resources/log4j.dtd -text
commons/src/test/resources/log4j.xml -text
commons/src/test/resources/repository.xml -text
content/src/main/java/org/onehippo/forge/utilities/content/updater/support/UpdaterUtils.java -text svneol=unset#text/plain
hst/src/main/java/org/onehippo/forge/utilities/hst/CompUtil.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/BaseComponent.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/Container.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/ForwardComponent.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/RedirectComponent.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/cookie/HstCookie.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/paging/DefaultPagination.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/paging/IterablePagination.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/paging/Pageable.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/JcrNodeType.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/JcrPath.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/build/NodeBuilder.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/build/NodeBuilderImpl.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/build/PropertyBuilder.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/load/BeanLoader.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/load/BeanLoaderImpl.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/load/FieldSetter.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/util/Converter.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/util/ConverterAdapter.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/util/FieldWrapper.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/xml/XMLStripper.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/xml/XmlStripperSaxHandler.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/paging/BaseBeanMock.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/paging/DefaultPaginationTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/paging/SearchResultMock.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/BeanLoaderTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/BuildLoadTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/NodeBuilderTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/UtilsTest.java -text
hst/src/test/resources/content.xml -text
hst/src/test/resources/log4j.dtd -text
hst/src/test/resources/log4j.xml -text
