* text=auto !eol
/LICENSE -text
/NOTICE -text
cms/src/main/java/org/onehippo/forge/utilities/cms/gallery/GalleryProcessor.java -text
cms/src/main/java/org/onehippo/forge/utilities/cms/gallery/GalleryProcessorPlugin.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/AnnotationUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/GenericsUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/HippoUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/RepositoryUtil.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/ftp/SimpleFtpClient.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/ftp/SimpleFtpClientResult.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/jcrmockup/ISO8601.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/jcrmockup/ItemAnswer.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/jcrmockup/JcrMockUp.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/jcrmockup/MockNode.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/jcrmockup/MockProperty.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/jcrmockup/NodeIteratorAnswer.java -text
commons/src/main/java/org/onehippo/forge/utilities/commons/jcrmockup/PropertyIteratorAnswer.java -text
commons/src/test/java/org/onehippo/forge/utilities/AnnotationUtilTest.java -text
commons/src/test/java/org/onehippo/forge/utilities/BaseRepositoryTest.java -text
commons/src/test/java/org/onehippo/forge/utilities/commons/ftp/SimpleFtpClientTest.java -text
commons/src/test/java/org/onehippo/forge/utilities/commons/jcrmockup/ISO8601Test.java -text
commons/src/test/java/org/onehippo/forge/utilities/commons/jcrmockup/TestJcrMockup.java -text
commons/src/test/resources/content.xml -text
commons/src/test/resources/log4j.dtd -text
commons/src/test/resources/log4j.xml -text
commons/src/test/resources/repository.xml -text
hst/src/main/java/org/onehippo/forge/utilities/hst/CompUtil.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/BaseComponent.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/Container.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/ForwardComponent.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/component/RedirectComponent.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/cookie/HstCookie.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/paging/DefaultPagination.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/paging/IterablePagination.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/paging/Pageable.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/JcrNodeType.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/JcrPath.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/build/NodeBuilder.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/build/NodeBuilderImpl.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/build/PropertyBuilder.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/load/BeanLoader.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/load/BeanLoaderImpl.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/load/FieldSetter.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/util/Converter.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/util/ConverterAdapter.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/simpleocm/util/FieldWrapper.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/xml/XMLStripper.java -text
hst/src/main/java/org/onehippo/forge/utilities/hst/xml/XmlStripperSaxHandler.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/paging/BaseBeanMock.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/paging/DefaultPaginationTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/paging/SearchResultMock.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/BeanLoaderTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/BuildLoadTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/NodeBuilderTest.java -text
hst/src/test/java/org/onehippo/forge/utilities/hst/simpleocm/UtilsTest.java -text
hst/src/test/resources/content.xml -text
hst/src/test/resources/log4j.dtd -text
hst/src/test/resources/log4j.xml -text
repository/src/main/resources/scheduler.cnd -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
